@import "../../colors";

.container {
  border-right: 1px solid $gray-light;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-left: 15px;
  width: 15vw;
}

.item-list {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding-left: 10px;
  width: 100%;
}

.item-list:hover {
  background-color: $gray-light;
  img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

img {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.text {
  font-family: sans-serif;
  font-size: 25px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 199px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 230px;
  }
}
