<div class="container">
  <div class="item-list">
    <img src="{{ home }}" />
    <div class="text">Home</div>
  </div>
  <div class="item-list">
    <img src="{{ trend }}" />
    <div class="text">Trending</div>
  </div>
  <div class="item-list">
    <img src="{{ subscription }}" />
    <div class="text">Subscription</div>
  </div>
  <div class="item-list">
    <img src="{{ library }}" />
    <div class="text">Library</div>
  </div>
  <div class="item-list">
    <img src="{{ history }}" />
    <div class="text">History</div>
  </div>
  <div class="item-list">
    <img src="{{ your_videos }}" />
    <div class="text">Your Videos</div>
  </div>
  <div class="item-list">
    <img src="{{ watch_later }}" />
    <div class="text">Watch Later</div>
  </div>
  <div class="item-list">
    <img class="img" src="{{ like }}" />
    <div class="text">Liked Videos</div>
  </div>
  <div class="item-list">
    <img src="{{ down_arrow }}" />
    <div class="text">Show More</div>
  </div>
</div>
