<div class="container">
  <div class="logo">
    <img src="{{ this.imagesSercive.bars }}" />
    <img
      class="logo-pic"
      src="{{ this.imagesSercive.logo }}"
      (click)="Home()"
    />
  </div>

  <div class="search">
    <div class="search-container">
      <input
        [(ngModel)]="inputData"
        [formControl]="searchControl"
        type="text"
        placeholder="search"
      />
      <ul class="suggestion-list" *ngIf="searchedData.length > 0" [ngClass]="{'hide': hideList}">
        <li *ngFor="let suggestion of searchedData" (click)="iframe(suggestion.videoId)">
          {{ suggestion.videoTitle }}
        </li>
      </ul>
    </div>
    <img
      class="search-icon"
      src="{{ this.imagesSercive.search }}"
      (click)="searchVidoes()"
    />
  </div>
  <div class="features">
    <img src="{{ this.imagesSercive.video }}" alt="" />
    <img src="{{ this.imagesSercive.grid }}" alt="" />
    <img src="{{ this.imagesSercive.bell }}" alt="" />
    <div class="email">O</div>
  </div>
</div>
